* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
    min-width: 700px;
    height: 50px;
    z-index: 0;
}

header nav a {
    text-decoration: none;
    color: black;
}

.logo,
/*forma de resumir que a ambos se le aplicarán los mismos estilos*/
nav {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

nav{
    width: 90%;
    min-width: 500px;
}

.logo {
    margin-right: 10px;
    width: 70px;
    margin-left: 10px;
}

.right-div {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

nav div{
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
}

main {
    width: 100%;
    margin-top: 20px;

}

