* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-right: 10px;
    width: 70px;
    margin-left: 10px;
    vertical-align: middle;
}

.custom {
    background-color: white;
}

.custom-carousel {
    height: 800px;
}